
@import url('style.css');

@media (max-width: 800px) {
    body {
        overflow-x: hidden;
      }

      .nav-bar {
        flex-direction: column;
      }
      
      .nav-list {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 1rem;
      } 

      .presentation {
        margin-top: 8rem;
      }
      
      
    /* .nav-list li {
      margin-top: 1.5rem;
      
      opacity: 0;
    }
     */
    .menu-mobile {
     display: block;

    }

    #carrossel, #carrossel2 {
      overflow-x: scroll;
    }

    #btnleft, #btnright {
      display: none;
    }


  /* Carrossel  no mobile */


    }
/*     
    
     .nav-list.active {
    background-color: var(--blue-900);
    background-repeat: repeat;
    background-size: cover;
    bottom: 0;
    box-shadow: 0 0 20px hsl(0deg 0% 66% / 15%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    z-index: 5;
      width: 40%;
     }

     @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
   */
