* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: #0072c6;
  --blue-900: #051933;
  --white: #e5e5e5;
  --gray: #808080;
  --light-gray: #d9d9d9;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}

/* menu */

header {
  background-color: var(--blue-900);
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .menu-mobile {
  display: none;
}

.menu-mobile .lines {
  height: 2px;
  width: 40px;
  margin: 5px;
  background-color: var(--white);
} */

.title-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--white);
}

.image-logo {
  font-size: 25px;
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  list-style: none;
}

.list a {
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
  transition: opacity 0.4s;
}

.link:hover {
  opacity: 0.5;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 7rem;
  background-color: var(--light-grayy);
}

.title-from-presentation,
.description-of-presentation {
  color: var(--blue-900);
  font-weight: bold;
  text-align: center;
  width: 80%;
}

.title {
  padding-left: 1rem;
  color: var(--blue-900);
  border-bottom: solid 2px var(--blue-900);
}

.name-from-courses {
  color: var(--blue-900);
}

.description-about {
  color: var(--blue-900);
}

/* image of courses */

.container {
  margin-top: 2rem;
}

#carrossel {
  position: absolute;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

#container {
  position: absolute;
  width: auto;
  height: 100%;
  margin: 17px 1rem;
  display: inline-flex;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}

#container #item {
  position: relative;
  margin: 0 7px;
  width: 150px;
  height: 80%;
  border-radius: 10px;
  z-index: 2;
  padding: 1rem;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0;
}

#container #item img {
  width: 100%;
  height: 100px;
}

.ribbon {
  background: #5cb85c;
  box-shadow: 0 1px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px rgb(0 0 0 / 20%);
  color: #fff;
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  position: absolute;
  font-size: 14px;
  left: -6px;
  top: -1px;
  padding: 3px 10px;
  z-index: 2;
  font-weight: 700;
}

.ribbon2 {
  background: #821212;
  box-shadow: 0 1px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px rgb(0 0 0 / 20%);
  color: #fff;
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  position: absolute;
  font-size: 14px;
  left: -6px;
  top: -1px;
  padding: 3px 10px;
  z-index: 2;
  font-weight: 700;
}

.image-of-courses {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.name-from-courses {
  margin-top: 5px;
  text-align: center;
  font-size: 0.9rem;
}

#btnleft {
  position: absolute;
  top: 25%;
  left: 0;
  width: 30px;
  height: 60%;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  z-index: 3;
  background-color: #05193397;
}

#btnright {
  position: absolute;
  top: 25%;
  right: 0;
  width: 30px;
  height: 60%;
  border: none;
  border-radius: 5px 0px 0 5px;
  cursor: pointer;
  z-index: 3;
  background-color: #05193397;
}

.i {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

#container #limitador {
  position: absolute;
  margin: 0 7px;
  width: 150px;
  height: 100%;
  opacity: 0;
  right: 0;
  z-index: 1;
  background: blue;
}

.other-courses {
  margin-top: 16rem;
}

.items {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.title2 {
  padding-top: 6rem;
}

.item-courses {
  position: relative;
  margin: 0;
  width: 150px;
  height: 80%;
  min-height: 230px;
  border-radius: 10px;
  z-index: 2;
  padding: 1rem;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0;
}

.value-of-courses {
  margin: 1rem 0rem 0rem 0;
  text-align: center;
  position: absolute;
  bottom: 3px;
  left: 25%;
}

.text-value {
  color: var(--black);
}
